.profile {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.avatar {
  width: 50%;
  border-radius: 50%;
}
.description {
  text-align: center;
}
.name {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;

  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
.tag,
.location {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;

  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: darkgrey;
}
.stats {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.stats__data {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 82px;
  padding: 10px;
  border: 1px solid gray;

  background-color: gainsboro;
}
.label,
.quantity {
  font-family: 'Times New Roman', Times, serif;

  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: gray;
}
