.friend__list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  border: 1px solid black;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.name {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
}
.status {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 30px;
}
